__pycache__/
*.py[cod]

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.sqlite3
media/
workspace/
workspace-stand2/
workspace-testbed2/

*.swp
*.tmp
.DS_Store
.idea/

node_modules/
agent.log
agent/logs/
server/logs/

.run/
.venv-agent/
.env
server/.env
agent/.env
agent/fpga-agent.service
server/fpga-server.service
server/.setup_key
server/examples/**/db/
server/examples/**/incremental_db/
server/examples/**/output_files/
